<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392898854553-8nlombkaq18u875c1osjl0h1e8jcqsho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392898854553-8nlombkaq18u875c1osjl0h1e8jcqsho</string>
	<key>API_KEY</key>
	<string>AIzaSyDanmYHyUDXpumj8G_mLYb4PPpdciQp02E</string>
	<key>GCM_SENDER_ID</key>
	<string>392898854553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobile.id.hiapp.ios</string>
	<key>PROJECT_ID</key>
	<string>hiapp-ios-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>hiapp-ios-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392898854553:ios:6018c5b2f7453d6c914208</string>
	<key>DATABASE_URL</key>
	<string>https://hiapp-ios-dev.firebaseio.com</string>
</dict>
</plist>